{% extends 'main.html' %}

{% block content %}

<div>
    <!-- <form>とは、入力・送信フォームを作成する際に使用する要素 
    タグがひとつのフォームとなり、フォームの中に<input>タグ、<select>タグ、<textarea>タグなどのフォーム部品を配置して
    フォームを作る。入力された値はmethod属性で指定した転送方法とenctype属性で指定したデータ形式でサーバへ送信され、
    action属性で指定したアクションを呼び出す。アクションにはプログラムのURLなどを指定する。-->
    <form method="POST" action="">
        <!-- CSRF（Cross-Site Request Forgeries）とは　ウェブサイトの中には、サービスの提供に際しログイン機能を設けている
        ものがある。ここで、ログインした利用者からのリクエストについて、その利用者が意図したリクエストであるかどうかを識別する
        仕組みを持たないウェブサイトは、外部サイトを経由した悪意のあるリクエストを受け入れてしまう場合がある。
        このようなウェブサイトにログインした利用者は、悪意のある人が用意した罠により、利用者が予期しない処理を実行させられて
        しまう可能性がある。このような問題を「CSRF（Cross-Site Request Forgeriesの脆弱性」と呼び、これを悪用した攻撃を、
        「CSRF攻撃」と呼ぶ。簡単な流れは以下
        1 webサイトにログイン
        2 webサイトがセッションIDを発行
        3 ログイン状態を保持
        4 悪意あるサイトのトラップページ等を閲覧しクリック等をする
        5 利用者の意図しない攻撃リクエストをログイン保持状態のwebサイトに送信される
        Djangoでは、デフォルトでCSRFの検証を行ってくれる。
        settings.pyに記載されている'django.middleware.csrf.CsrfViewMiddleware'によってCSRF検証機能が設定される。
        POSTメソッドのフォームには、csrf_tokenタグを入れればOK。-->
        {% csrf_token %}
        <!-- as_pは縦に表示させる -->
        {{form.as_p}}
        <!-- <input>タグはテキスト入力欄や実行ボタン等、 フォーム（<FORM>～</FORM>）を構成する部品を作成するタグ。
        type属性の値により、一行テキストボックス・チェックボックス・ラジオボタン・実行ボタン・リセットボタン等の部品となる。 
        type="submit"でフォームを送信するボタンが作られる。value="Submit"でそのボタンにSubmitの文字が表示される-->
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock content %}
