<div class="topics">
    <div class="topics__header">
      <h2>Browse Topics</h2>
    </div>
    <ul class="topics__list">
      <li>

        <!-- <span>とは、単体では特に意味を持たないタグだが、<span>～</span>で囲った部分をインライン要素として
            グループ化することができる。グループ化することで、指定した範囲にスタイルシートを適用したりすることができる。
            同じ意味を持つタグとして<div>があるが、<div>はブロックレベル要素としてグループ化を行うので、
            見出しや段落、リストなどとしてみなされ前後に改行が入る。<span>はインライン要素で文章の一部として利用され
            前後に改行は入らない。 -->
        <a href="{% url 'home' %}" class="active">All <span>{{topics.count}}</span></a>
      </li>
      {% for topic in topics%}
      <li>

        <!-- クエリ文字列（URLパラメーター）とは、サーバーに情報を送るためにURLの末尾につけ足す文字列（変数）のこと。
            ?をURLの末尾につけ、その次に「パラメーター＝値」をつけ、複数のパラメーターをつけたい場合は「&」を使用する。
            この形式で、サーバーに送信したいデータをURLにつけ加えることが可能。
            例えば、基本のURLが「https:// ○△×□.jp/」だとして、基本のURLにクエリ文字列（URLパラメーター）を加えると
            「https:// ○△×□.jp/?●=▲×■&○=△×□」となる。
            クエリ文字列（URLパラメーター）には「パッシブパラメーター」、「アクティブパラメーター」の2種類がある。
            パッシブパラメーターは、表示されるコンテンツに影響はない。パラメーターがついていてもついていなくても、
            表示されるページは同じ。なぜするのかはWebサイトのアクセス解析をするため。
            ユーザーがどこから自分のWebサイトへたどり着いたのかを知るために、固有のパラメーターをつけて計測する。 
            アクティブパラメーターは、パッシブパラメーターと異なり、表示されるコンテンツに影響する。
            つまり、パラメーターをつけ加えて、Webサイトの表示内容を変更する。
            例えばショッピングサイトの場合、アクティブパラメーターを使用することにより、商品一覧をサイズごとに
            フィルタリングしたり、価格順に並べ替えたりすることができる。
            例えば、Tシャツの商品一覧ページを、Sサイズだけフィルタリングできるように仮定する。
            基本のTシャツの商品一覧ページは、「http://○△×□.jp/category/tshirt/ 」
            SサイズをフィルタリングしたTシャツの商品一覧ページは、「http://○△×□.jp/category/tshirt/?t=shirt_size=S」
            ただし、上記の場合「http://○△×□.jp/category/tshirt/」という同じURLが2つできることになる。
            同じURLが2つあるとSEOに悪影響を与えてしまう可能性があるでので専用のURLパラメーターツールを利用して、
            メインのページとなるURLを設定しておくことがおすすめ。
            今回のでいうと以下をクリックしようが同じホームのページに行くがURLが違う 

            オブジェクト.モデル名_set.all()で1対多の参照が可能
            今回のいえば一つのトピックに対して何個のルームがあるか全て参照してそれをカウントしている-->
        <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}} <span>{{topic.room_set.all.count}}</span></a>
      </li>
      {% endfor %}
      
    </ul>
    <a class="btn btn--link" href="{% url 'topics' %}">
      More

      <!-- <svg>タグはsvgファイルを使用するときに使う
          SVGとはScalable Vector Graphicsの略。PNGやJPEGなどがピクセルの集まりとして表現される
          ラスター画像（ビットマップ画像）であるのに対して、Vector Graphicsは曲線を描いたり一定の範囲を塗りつぶしたり
          といった処理を座標と数式によって行えることが特徴。Vector Graphicsは、Adobe IllustratorやCorelDRAWなどの
          画像編集ソフトで扱うことができる。
          svgタグでいうならばキャンバスの大きさをを指定し、子のタグで実際の絵にあたる部分を描写する 
          
          svg要素にはxmlns属性を付与する。xmlns属性は「XML Name Space」のことを意味し、人間で言う「名字」のような存在。
          例えば、HTMLにはa要素があるが、SVGにも同名のa要素がある。これらを区別するために、xmlnsという仕組みが存在する。
          xmlns属性は、「svg要素の中に格納されるのは、http://www.w3.org/2000/svg という名字をもった要素ですよ」
          という働きをする。URLの参照先自体には意味はない。URLは1つの場所しか示さないので、ID（名字）として利用される。
        
          viewBoxを指定することで、描画エリアのアスペクト比、およびその中の要素の相対的なサイズを決定する。
          viewBoxで指定できる値はviewBox="x, y, width, height"の4つ。
          x,yは左上からみたx座標とy座標の位置、そしてwidth,heightは描画エリアの幅(座標値)と高さ(座標値)。
          4つの値は、カンマもしくは半角スペースで区切って使うことができる。-->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">

        <!--chevron-downは ⌄ みたいなマーク全般-->
        <!-- TITLEは文書にタイトルをつけるタグ。ページ上に表示はされない -->
        <title>chevron-down</title>
        
        <!-- pathでchevron-downの⌄のマークを描いている -->
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
  </div>
